body {
	background-color: #A8E6FA; 
	/* #EFEF35;
	 #A8E6FA; 
	 #20E371*/
}

.row {
	-webkit-border-radius: 5 important;
    -moz-border-radius: 5 important;
    border-radius: 5 important;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
.row.featurette img {
	padding-top: 20px;
	padding-bottom: 20px;
}
*/
.row.featurette.one {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #20E371;
}

.row.featurette.two {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #1F9BA5;
}

.row.featurette.three {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #E0CC34;
}

/*
.col-md-7 {
	background-color: #1F9BA5;
}
*/